h1 img {
    width: 40px;
    fill: rgb(237, 166, 113);
}

main {
    width: 600px;
    margin: 50px auto;
}

#game {
    border: solid thick black;
}

#game:focus {
    background-color: #333;
}

.correct {
    color: green;
}

.incorrect {
    color:red;
}

