@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --FF: "Space Mono", sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    --BGCOLOR: #002828;
    --BGCOLOR-BLUE: #001428;
    --FONT-COLOR-GREEN: #00FF00;
    --FONT-COLOR-GRAY1: #D3D3D3;
    --FONT-COLOR-GRAY2: #6C6C6C;
    --FONT-COLOR-PURPLE: #BF00FF;
    --FONT-COLOR-RED: #FF0033;

}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    min-height: 100vh;
    background-color: var(--BGCOLOR);
    color: var(--FONT-COLOR-GRAY1);
}

/* button {
    border-radius: 5px;
} */

img {
    width: 100%;
    height: auto;
    display: block;
}
/* 
.profile p {
    word-break: break-all;
} */

header {
    text-align: center;
}

.check-mark {
    display: inline;
    width: 20px;
    height: auto;
    fill: var(--FONT-COLOR-GREEN);
}

.profile {
    background-color: var(--BGCOLOR-BLUE);
    border: solid thick black;
}

.profile img {
    width: 85%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.profile h5 {
    color: var(--FONT-COLOR-PURPLE);
    text-align: center;
    margin-top: 0.5em;
}

.cs-week {
    margin-bottom: 0.25em;
    border-bottom: solid thin var(--FONT-COLOR-GRAY2);
}

.cs-week:last-child {
    margin-bottom: 0;
}



.cs-week-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cs-week-title button,p {
    margin-bottom: 0.25rem;
}

.progress {
    margin: 1em auto;
    width: 70%;
    text-align: center;
    height: 20px;
}
.progress-bar {
    background-color: var(--FONT-COLOR-GREEN);
    color:black;
}

.unfinished {
    background-color: var(--BGCOLOR-BLUE);
    color:var(--FONT-COLOR-GRAY1);
}

.finished {
    background-color: var(--FONT-COLOR-GRAY1);
    color: var(--BGCOLOR-BLUE);
}
.active{
    /* content: ''; */
    animation: glowing 5s linear infinite;
    transition: all 0.5s ease-in-out;
}



.correct {
    color: var(--FONT-COLOR-GREEN);
}

.incorrect {
    color: var(--FONT-COLOR-RED);
}

.game {
    justify-content: center;
    font-size: x-large;
    border: solid thick var(--BGCOLOR-BLUE);
    border-radius: 10px;
    padding: 0.5em 2em;
    margin: 0.5em auto;
}

.modal-content {
    background-color: var(--BGCOLOR-BLUE);
}

.btn-close {
    fill:white;
}

.pulse-correct {
    animation: pulse-correct 2s;
    animation-iteration-count: 1;
}

.pulse-incorrect {
    animation: pulse-incorrect 2s;
    animation-iteration-count: 1;
}
@keyframes glowing {
    0% {
        background: var(--BGCOLOR-BLUE);
    }
    50% {
        background: var(--FONT-COLOR-PURPLE);
    }
    100% {
        background: var(--BGCOLOR-BLUE);
    }
}

@keyframes pulse-correct {
    0% {
        box-shadow: 0;
    }

    100% {
        box-shadow: var(--FONT-COLOR-GREEN) 0px 25px 25px, var(--FONT-COLOR-GREEN) 0px -12px 30px, var(--FONT-COLOR-GREEN) 0px 4px 6px, var(--FONT-COLOR-GREEN)0px 12px 13px, var(--FONT-COLOR-GREEN) 0px -3px 5px;
    }
}

@keyframes pulse-incorrect {
    0% {
        box-shadow: 0;
    }

    100% {
        box-shadow: var(--FONT-COLOR-RED) 0px 25px 25px, var(--FONT-COLOR-RED) 0px -12px 30px, var(--FONT-COLOR-RED) 0px 4px 6px, var(--FONT-COLOR-RED)0px 12px 13px, var(--FONT-COLOR-RED) 0px -3px 5px;
    }
}